h1{
    color:purple
}
h3{
    color:skyblue
}

.header{
    background-color :aqua;
    display : flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p.h3{text-align: center;}
p.h1{text-align: center;}